.category-card{

    background:white;

    border-radius:24px;

    padding:35px 25px;

    text-align:center;

    box-shadow:0 12px 35px rgba(0,0,0,.08);

    transition:.35s;

    cursor:pointer;

    position:relative;

    overflow:hidden;

}

.category-card::before{

    content:"";

    position:absolute;

    width:220px;

    height:220px;

    border-radius:50%;

    background:rgba(91,75,255,.06);

    top:-140px;

    right:-140px;

}

.category-card:hover{

    transform:translateY(-12px);

    box-shadow:0 20px 45px rgba(91,75,255,.18);

}

.category-icon{

    width:90px;

    height:90px;

    margin:auto;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:40px;

    margin-bottom:25px;

    box-shadow:0 10px 25px rgba(0,0,0,.18);

}

.category-card h3{

    font-size:24px;

    color:#222;

    margin-bottom:10px;

}

.category-card p{

    color:#777;

    margin-bottom:28px;

    font-size:15px;

}

.category-btn{

    border:none;

    background:#EEF2FF;

    color:#5B4BFF;

    padding:12px 25px;

    border-radius:50px;

    font-weight:600;

    display:inline-flex;

    align-items:center;

    gap:10px;

    transition:.3s;

}

.category-btn:hover{

    background:#5B4BFF;

    color:white;

}

@media(max-width:768px){

.category-card{

padding:28px 20px;

}

.category-icon{

width:75px;

height:75px;

font-size:32px;

}

.category-card h3{

font-size:21px;

}

}