.footer{

    margin-top:100px;

    background:#111827;

    color:white;

    padding:70px 8% 20px;

    border-top:5px solid #6366F1;

}

.footer-container{

    display:grid;

    grid-template-columns:2fr 1fr 1fr 1.3fr;

    gap:50px;

}

/* Logo */

.footer-logo{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:20px;

}

.footer-logo img{

    width:50px;

}

.footer-logo h2{

    color:#ffffff;

}

.footer-about p{

    color:#CBD5E1;

    line-height:1.8;

    margin-bottom:25px;

}

/* Social Icons */

.social-icons{

    display:flex;

    gap:15px;

}

.social-icons a{

    width:42px;

    height:42px;

    border-radius:50%;

    background:#1E293B;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    text-decoration:none;

    transition:.4s;

    font-size:18px;

}

.social-icons a:hover{

    background:#6366F1;

    transform:translateY(-6px);

}

/* Links */

.footer-links h3,
.footer-contact h3{

    margin-bottom:20px;

    color:white;

}

.footer-links ul{

    list-style:none;

}

.footer-links li{

    margin-bottom:15px;

    color:#CBD5E1;

    cursor:pointer;

    transition:.3s;

}

.footer-links li:hover{

    color:#6366F1;

    padding-left:6px;

}

.footer-links a{

    color:inherit;

    text-decoration:none;

}

/* Contact */

.footer-contact p{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom:18px;

    color:#CBD5E1;

}

.icon{

    color:#6366F1;

    font-size:18px;

}

/* Divider */

hr{

    border:none;

    border-top:1px solid rgba(255,255,255,.15);

    margin:45px 0 20px;

}

/* Bottom */

.footer-bottom{

    text-align:center;

    color:#94A3B8;

    font-size:15px;

}

/* Responsive */

@media(max-width:992px){

.footer-container{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:650px){

.footer-container{

grid-template-columns:1fr;

text-align:center;

}

.footer-logo{

justify-content:center;

}

.social-icons{

justify-content:center;

}

.footer-contact p{

justify-content:center;

}

}