.navbar{
    width:100%;
    position:sticky;
    top:0;
    z-index:999;
    backdrop-filter:blur(18px);
    background:rgba(255,255,255,.78);
    box-shadow:0 8px 25px rgba(0,0,0,.05);
}

.navbar-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
}

.logo{
    font-size:32px;
    font-weight:700;
    color:#5B4BFF;
}

.logo span{
    color:#FF4D8D;
}

.nav-links{
    display:flex;
    gap:35px;
}

.nav-links a{
    color:#333;
    font-size:17px;
    font-weight:500;
    transition:.3s;
    position:relative;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-6px;
    width:0;
    height:3px;
    background:#5B4BFF;
    border-radius:5px;
    transition:.3s;
}

.nav-links a:hover::after{
    width:100%;
}

.nav-links a:hover{
    color:#5B4BFF;
}

.nav-buttons{
    display:flex;
    gap:15px;
}

.login-btn{

    padding:12px 24px;

    border-radius:30px;

    border:2px solid #5B4BFF;

    background:white;

    color:#5B4BFF;

    font-weight:600;

    transition:.3s;
}

.login-btn:hover{

    background:#5B4BFF;

    color:white;

}

.signup-btn{

    padding:12px 24px;

    border-radius:30px;

    border:none;

    color:white;

    font-weight:600;

    background:linear-gradient(135deg,#5B4BFF,#8F7CFF);

    transition:.3s;

    box-shadow:0 8px 18px rgba(91,75,255,.35);

}

.signup-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 15px 30px rgba(91,75,255,.45);

}

.menu-icon{

    display:none;

    font-size:28px;

    cursor:pointer;

}

@media(max-width:900px){

.nav-links{

position:absolute;

top:80px;

left:-100%;

background:white;

width:100%;

flex-direction:column;

padding:30px;

transition:.4s;

box-shadow:0 10px 20px rgba(0,0,0,.08);

}

.nav-links.active{

left:0;

}

.nav-buttons{

display:none;

}

.menu-icon{

display:block;

}

}