.skill-card{

background:white;

border-radius:25px;

padding:30px;

text-align:center;

box-shadow:0 15px 35px rgba(0,0,0,.08);

transition:.35s;

overflow:hidden;

position:relative;

}

.skill-card:hover{

transform:translateY(-10px);

box-shadow:0 25px 45px rgba(91,75,255,.18);

}

.skill-card::before{

content:"";

position:absolute;

width:180px;

height:180px;

background:rgba(91,75,255,.05);

border-radius:50%;

top:-90px;

right:-90px;

}

.skill-icon{

width:80px;

height:80px;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

margin:auto;

font-size:34px;

color:white;

margin-bottom:20px;

}

.skill-card h3{

font-size:24px;

margin-bottom:20px;

color:#222;

}

.skill-info{

display:flex;

justify-content:space-between;

margin-bottom:30px;

}

.skill-info div{

display:flex;

align-items:center;

gap:8px;

color:#666;

font-weight:500;

}

.skill-btn{

width:100%;

padding:14px;

border:none;

border-radius:15px;

background:linear-gradient(135deg,#5B4BFF,#8F7CFF);

color:white;

font-size:16px;

font-weight:600;

display:flex;

justify-content:center;

align-items:center;

gap:10px;

transition:.3s;

}

.skill-btn:hover{

transform:translateY(-3px);

}