@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root{

--primary:#5B4BFF;

--secondary:#8F7CFF;

--accent:#FF4D8D;

--dark:#1E1E2F;

--light:#FFFFFF;

--grey:#F3F4F8;

--text:#555;

--radius:18px;

--shadow:0 10px 30px rgba(0,0,0,.08);

--transition:.3s ease;

}

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}

html{

scroll-behavior:smooth;

}

body{

background:linear-gradient(180deg,#ffffff,#eef3ff);

color:var(--dark);

}

.container{

width:90%;

max-width:1300px;

margin:auto;

}

section{

padding:80px 0;

}

button{

border:none;

outline:none;

transition:var(--transition);

}

input{

outline:none;

}
